<div id="player_assign_form_<%= player.id %>">
<%= form_with model: player, url: assign_path(player.id) do |f| %>
  <%= f.label :name, player.name %>
  <% if player.role %>
  <%= f.label :role_name, player.role.name %>
  <% else %>
  <%= f.label :role_name, "[Needs Role]" %>
  <% end %>
  <%= f.collection_select :role_id, roles, :id, :name, {:selected => if player.role.nil? then nil else player.role.id end, :include_blank => true }%>
  <%= f.submit "Save" %>
<% end %>
</div>
