<% if @game.phase == 'joining' %>
<h1>Waiting on role</h1>
<% end %>
<h2><%= @game.edition %></h2>
<% if @game.phase == 'active' %>
<%= @player.role.name %>
<%= @player.role.faction %>
<%= @player.role.description %>
<%= image_tag @player.role.image %>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Faction</th>
    <th>Ability</th>
  </tr>
  <% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= role.faction %></td>
    <td><%= role.description %></td>
  </tr>
  <% end %>
</table>
