<% if @game.phase == 'joining' %>
<h1>Waiting on players</h1>
<% elsif @game.phase == 'assignment' %>
<h1>Waiting on role</h1>
<% elsif @game.phase == 'active' %>
<h1>Game active with <%= @game.players.count %> players.</h1>
<% end %>
<h2><%= @game.full_edition %></h2>
<% if @game.phase == 'active' %>
<button onmousedown="document.getElementById('player_role').style.display = 'inline'"
        onmouseup="document.getElementById('player_role').style.display = 'none'"
        ontouchstart="document.getElementById('player_role').style.display = 'inline'"
        ontouchend="document.getElementById('player_role').style.display = 'none'">
Press to show role
</button>
<div id="player_role" style="display:none">
  <%= @player.role.name %>
  <%= @player.role.faction %>
  <%= @player.role.description %>
  <%= image_tag @player.role.image, size: '300' %>
</div>
<% end %>
<%= render 'game/roles', roles: @roles %>
<%= image_tag 'player_count.png' %>
